In [ ]:
PRINT 'Platform Data'

In [ ]:
PRINT 'Platform App Settings'
-- This is currently not populated with any general settings

In [ ]:
PRINT 'Platform Attributes'

In [8]:
PRINT 'Platform Config Data Attributes'
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES
     ('Master','^5[1-5][0-9]{14}$',6,'2021-05-24 19:48:20',1,NULL),
	 ('Visa','^4[0-9]{12}(?:[0-9]{3})?$',6,'2021-05-24 19:48:20',1,NULL),
	 ('Discover','^65[4-9][0-9]{13}|64[4-9][0-9]{13}|6011[0-9]{12}|(622(?:12[6-9]|1[3-9][0-9]|[2-8][0-9][0-9]|9[01][0-9]|92[0-5])[0-9]{10})$',6,'2021-05-24 19:48:20',1,NULL),
	 ('AMEX','^3[47][0-9]{13}$',6,'2021-05-24 19:48:20',1,NULL),
	 ('AL','^[0-9]{7,8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('AK','^[0-9]{7}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('AZ','^[A-Z]{1}[0-9]{8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('AR','^[0-9]{9}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('CA','^[A-Z]{1}[0-9]{7}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('CO','^[0-9]{9}$',9,'2021-05-24 19:48:20',1,NULL);
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES 	 
	 ('CT','^[0-9]{9}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('DE','^[0-9]{1,7}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('DC','^[0-9]{7}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('FL','^[A-Z]{1}[0-9]{12}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('GA','^[0-9]{9}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('HI','^H[0-9]{8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('ID','^[A-Z]{3}[0-9]{6}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('IL','^[A-Z]{1}[0-9]{11}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('IN','^[0-9]{10}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('IA','^[A-Z]{3}[0-9]{2}[A-Z]{4}$',9,'2021-05-24 19:48:20',1,NULL);
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES 
	 ('KS','^K[0-9]{8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('KY','^[A-Z]{1}[0-9]{8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('LA','^0[0-9]{8}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('ME','^[0-9]{7}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('MD','^[A-Z]{1}[0-9]{12}$',9,'2021-05-24 19:48:20',1,NULL),
	 ('MA','^S[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('MI','^[A-Z]{1}[0-9]{12}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('MN','^[A-Z]{1}[0-9]{12}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('MS','^[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('MO','^[A-Z]{1}[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL);
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES 
	 ('MT','^[0-9]{13}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NE','^[A-Z]{1}[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NV','^[0-9]{12}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NH','^[A-Z]{3}[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NJ','^[A-Z]{1}[0-9]{14}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NM','^[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NY','^[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('NC','^[0-9]{12}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('ND','^[A-Z]{3}[0-9]{6}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('OH','^[A-Z]{2}[0-9]{6}$',9,'2021-05-24 19:48:21',1,NULL);
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES 
	 ('OK','^[A-Z]{1}[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('OR','^[A-Z]{1}[0-9]{6,7}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('PA','^[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('RI','(^V[0-9]{6}$)|(^[0-9]{7}$)',9,'2021-05-24 19:48:21',1,NULL),
	 ('SC','^[0-9]{6,11}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('SD','^[0-9]{8,9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('TN','^[0-9]{7,9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('TX','^[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('UT','^[0-9]{4,10}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('VT','(^[0-9]{7}A$)|(^[0-9]{8}$)',9,'2021-05-24 19:48:21',1,NULL);
INSERT INTO refdata_datagentypes (DataGenTypeDescription,Definition,DataAttributeID,CreatedDate,StatusID,CreatedUser) VALUES 
	 ('VA','^[A-Z]{1}[0-9]{8}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('WA','(^[A-Z]{7}[0-9]{5}$)|(^[A-Z]{7}[0-9]{3}[A-Z]{2}$)',9,'2021-05-24 19:48:21',1,NULL),
	 ('WV','^[A-Z]{1}[0-9]{6}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('WI','^[A-Z]{1}[0-9]{13}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('WY','^[0-9]{9}$',9,'2021-05-24 19:48:21',1,NULL),
	 ('Numeric','^[0-9]{9}$',14,'2021-05-24 19:48:21',1,NULL),
	 ('Mixed','^[A-Z]{2}[%#@&]{1}[0-9]{5}[A-Z]{1}$',14,'2021-05-24 19:48:21',1,NULL),
	 ('Peoples Bank','^[0-9]{10}$',7,'2021-05-24 19:48:21',1,NULL),
	 ('Cadeceus','^[%#@&]{1}[A-Z]{3}[%#@&]{1}[0-9]{1}[A-Z]{2}$',15,'2021-05-24 19:48:21',1,NULL);

: Msg 547, Level 16, State 0, Line 2
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

: Msg 547, Level 16, State 0, Line 13
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

: Msg 547, Level 16, State 0, Line 24
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

: Msg 547, Level 16, State 0, Line 35
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

: Msg 547, Level 16, State 0, Line 46
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

: Msg 547, Level 16, State 0, Line 57
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__refdata_d__dataa__1881A0DE". The conflict occurred in database "datasynth", table "dbo.platform_dataattributes", column 'platformdataattributesid'.

In [ ]:
PRINT 'Platform Config Data Structures'

In [ ]:
PRINT 'Platform Config Data Structures Detail'